@import url("./Variables.css");

.btn {
  background-color: var(--color-primary-default);
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s all ease-in-out;
}

.btn.btn--hidden {
  display: none;
}

.btn.btn--danger {
  background-color: var(--color-danger);
}

.btn i {
  margin-right: 8px;
  color: #fff;
}

.btn.btn--danger:hover {
  background-color: var(--color-danger);
  opacity: 70%;
}

.btn.btn--danger:active {
  opacity: 80%;
  background-color: var(--color-danger);
}

.btn:hover {
  background-color: var(--color-primary-hover);
}

.btn:active {
  background-color: var(--color-primary);
  border: none;
}

.btn.btn--circle {
  border-radius: 50%;
  min-width: 35px;
  max-height: 35px;
}
