.icon {
  background-size: contain;
  background-repeat: no-repeat;
}

.icon.icon--30 {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.icon.icon--20 {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.icon.icon--16 {
  font-size: 16px;
  width: 16px;
  height: 16px;
}

.icon.icon--13 {
  font-size: 13px;
  width: 13px;
  height: 13px;
}

.icon.icon--10 {
  font-size: 10px;
  width: 10px;
  height: 10px;
}

.icon--dashboard {
  background-image: url("../../assets/icon/dashboard.png");
}

.icon--setting {
  background-image: url("../../assets/icon/setting.png");
}

.icon--option {
  background-image: url("../../assets/icon/option.png");
}

.icon--refresh {
  background-image: url("../../assets/icon/refresh.png");
}

.icon--report {
  background-image: url("../../assets/icon/report.png");
}

.icon--search {
  background-image: url("../../assets/icon/search.png");
}

.icon--dic-employee {
  background-image: url("../../assets/icon/dic-employee.png");
}

.icon--add {
  background-image: url("../../assets/icon/add.png");
}

.icon--firstpage {
  background-image: url("../../assets/icon/btn-firstpage.svg");
}

.icon--lastpage {
  background-image: url("../../assets/icon/btn-lastpage.svg");
}
.icon--prevpage {
  background-image: url("../../assets/icon/btn-prev-page.svg");
}
.icon--nextpage {
  background-image: url("../../assets/icon/btn-next-page.svg");
}
.icon--close {
  background-image: url("../../assets/icon/x.svg");
}
