.input {
  width: 100%;
  height: 100%;
  position: relative;
}

.input input.input--icon {
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 16px;
  padding-left: 40px;
}

.input input.input__danger {
  border-color: var(--color-danger);
}

.input .input__label {
  display: flex;
  font-family: "GoogleSans";
  size: 13px;
  padding-bottom: 4px;
}

.input .input__label .input__label__required span {
  color: #ff0000;
}

.input .input__clear {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 10px;
  right: 6px;
  border-radius: 50%;
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input .input__clear--hidden {
  display: none;
}

.input input {
  width: 100%;
  max-width: 342px;
  height: 100%;
  height: 40px;
  outline: none;
  border-radius: 4px;
  outline: none;
  border: solid 1px #bbb;
  box-sizing: border-box;
  font-size: 13px;
  font-family: "GoogleSans";
  color: var(--color-black);
  padding-left: 16px;
  padding-right: 32px;
}

.input input[type="date"] {
  padding-right: 16px;
}

.input input::-webkit-input-placeholder {
  font-family: "GoogleSans";
  font-size: 11px;
  color: #bbb;
}

.input input:focus {
  border-color: var(--color-primary-default);
}

input[format="money"] {
  padding-right: 50px;
  text-align: right;
}

input[format="money"] + span::after {
  position: absolute;
  content: "VND";
  right: 10px;
  top: 35px;
  color: #000;
}
