@import url("../common/Variables.css");
@import url("../common/Text.css");
@import url("../common/Padding.css");
@import url("../common/Margin.css");
@import url("../../assets/font/fontawesome-5.15.1/css/all.min.css");

body {
  font-family: "GoogleSans";
  font-size: 13px;
  color: var(--color-black);
  margin: 0px;
}

a {
  text-decoration: none;
}

.rotate--180 {
  transform: rotateZ(180deg);
}

@font-face {
  font-family: "GoogleSans";
  src: url("../../assets/font/GoogleSans-Regular.otf");
}

@font-face {
  font-family: "GoogleSans-Italic";
  src: url("../../assets/font/GoogleSans-Italic.otf");
}

@font-face {
  font-family: "GoogleSans-Bold";
  src: url("../../assets/font/GoogleSans-Bold.otf");
}

@font-face {
  font-family: "GoogleSans-Medium";
  src: url("../../assets/font/GoogleSans-Medium.otf");
}
