.margin-left--10 {
  margin-left: 10px;
}

.margin-right--10 {
  margin-right: 10px;
}

.margin-left--16 {
  margin-left: 16px;
}

.margin-right--16 {
  margin-right: 16px;
}

.margin-left--24 {
  margin-left: 24px;
}

.margin-right--24 {
  margin-right: 24px;
}
