.pagination {
  height: 100%;
  width: 100%;
  padding: 10px 16px 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.pagination .pagination__left {
  font-size: 10px;
  width: 20%;
}

.pagination .pagination__right {
  font-size: 10px;
  width: 15%;
}

.pagination .pagination__center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
