@import url("./Variables.css");

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  padding-right: 30px;
  box-sizing: border-box;
}

table thead th {
  position: sticky;
  top: 0px;
  background-color: #fff;
  border-bottom: 1px solid #c5c5c5;
  padding-right: 25px;
}

table tr {
  height: 48px;
}

table td {
  min-width: 100px;
  white-space: nowrap;
  border-bottom: 1px solid #c5c5c5;
  padding-right: 25px;
}

table th:nth-child(1) {
  padding-left: 10px;
}

table td:nth-child(1) {
  padding-left: 10px;
}

table th:nth-last-child(1) {
  padding-right: 0px;
}

table tbody tr:nth-child(odd) {
  background-color: #e9ebee;
}

table tbody tr {
  cursor: pointer;
}

table tbody tr:hover {
  background-color: #c5c5c5;
}

table tbody tr:active td {
  background-color: #01b075;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: lightgray;
  border-radius: 2.5px;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 2.5px;
}
