@import url("../common/Variables.css");

.text {
  font-size: 13px;
  font-family: "GoogleSans";
  color: var(--color-black);
}

.text.text--color-white {
  color: var(--color-white);
}

.text.text--title {
  font-size: 20px;
  font-family: "GoogleSans-Bold";
}

.text.text--title-2 {
  font-size: 15px;
  font-family: "GoogleSans";
}

.text.text--heading {
  font-size: 24px;
  font-family: "GoogleSans-Bold";
}

.text.text--left {
  text-align: left;
}

.text.text--right {
  text-align: right;
}

.text.text--center {
  text-align: center;
}
