.container__toast {
  position: fixed;
  z-index: 99;
  top: 24px;
  right: 10px;
  height: 48px;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  opacity: 1;
}

.container__toast.container__toast--hidden {
  opacity: 0;
}

.toast {
  position: relative;
  height: 48px;
  background-color: var(--color-white);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

.toast.toast--danger {
  color: var(--color-danger);
}

.toast.toast--warning {
  color: var(--color-danger);
}

.toast.toast--done {
  color: var(--color-primary);
}

.toast .toast__icon {
  margin-left: 16px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast .toast__message {
  width: 200px;
  font-size: 13px;
  font-family: "GoogleSans";
  color: var(--color-black);
}

.toast .toast__close {
  margin-right: 8px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.toast .toast__close:hover {
  background-color: var(--color-bg-hover);
}
