@import url("../common/Variables.css");
@import url("../common/Icon.css");

.menu {
  width: 220px;
  height: calc(100vh - 48px);
  background-color: var(--color-white);
  border-right: 1px solid var(--color-border-cus);
  box-sizing: border-box;
  float: left;
  transition: 0.2s all ease-in-out;
}

.menu.menu--minimize {
  width: 50px;
}

.menu .menu__content {
  width: 100%;
}

.menu .menu__content .menu__item {
  height: 44px;
  width: 100%;
  padding-left: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s all ease-in-out;
}

.menu .menu__content .menu__item .menu__item__icon {
  margin-right: 16px;
  margin-left: 3px;
}

.menu .menu__content .menu__item .menu__item__text {
  font-size: 13px;
  color: #454545;
}

.menu .menu__content .menu__item:hover {
  background-color: var(--color-bg);
}

.menu .menu__content .menu__item:hover .menu__item__text {
  color: #000;
  font-family: "GoogleSans";
}

.menu .menu__content .menu__item.menu__item--active {
  background-color: var(--color-primary-default);
}

.menu .menu__content .menu__item.menu__item--active .menu__item__text {
  color: #fff;
  font-family: "GoogleSans-Medium";
}

.menu .menu__content .menu__item.menu__item--active:hover {
  background-color: var(--color-primary-default);
}

.menu .menu__content .menu__item.menu__item--active:hover .menu__item__text {
  color: #fff;
  font-family: "GoogleSans-Medium";
}
