button {
  cursor: pointer;
  outline: none;
}

.btn-circle {
  margin-left: 5px;
  margin-right: 5px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0px;
  cursor: pointer;
}

.btn-circle:hover {
  background-color: #2fbe8e;
}

.btn-circle:active {
  background-color: #01b075;
}

.btn {
  background-color: #019160;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  font-size: 13px;
  border: 1px solid #fff;
  color: #fff;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.btn:hover {
  background-color: #2fbe8e;
}

.btn:active {
  background-color: #01b075;
}

.btn-icon {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 50px;
}

.btn i {
  margin-right: 8px;
}

.btn .icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.btn-2 {
  background-color: #fff;
  color: #000;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.btn-2:hover {
  background-color: #e9ebee;
}

.btn-2:active {
  background-color: #01b075;
  color: #fff;
}

.btn-cancel {
  background-color: #e9ebee;
  color: #000;
  border: none;
}

.btn-cancel:hover {
  background-color: #bbb;
  border: none;
}

.btn-cancel:active {
  background-color: #f65454;
  color: #fff;
}
