.content {
  width: calc(100vw - 220px);
  position: absolute;
  padding-right: 16px;
  padding-left: 16px;
  box-sizing: border-box;
  top: 49px;
  left: 220px;
}

.content .header {
  padding-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .header .title{
  font-family: "GoogleSans-Bold";
  font-size: 20px;
}

