input {
  max-width: 342px;
  outline: none;
  border-radius: 4px;
  outline: none;
  border: solid 1px #bbbbbb;
  box-sizing: border-box;
  font-size: 13px;
  font-family: "GoogleSans";
  padding-left: 16px;
  padding-right: 16px;
}

.label {
  font-family: "GoogleSans-Medium";
  size: 13px;
  padding-bottom: 4px;
}

.text-box:focus {
  border: 1px solid #019160;
}

.text-box {
  max-width: 342px;
  height: 40px;
  outline: none;
  border-radius: 4px;
  padding-left: 16px;
}

.text-box-icon {
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 16px;
  padding-left: 40px;
}

.input-required {
  border: 1px solid #ff0000;
}
