.pagination {
  height: 60px;
  width: 100%;
  padding: 10px 16px 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.pagination-left {
  font-size: 10px;
}

.pagination-right {
  font-size: 10px;
}

.pagination-center {
  display: flex;
  justify-content: space-evenly;
}
