.text-box{
  height: 40px;
  border: 1px solid #bbb;
  padding-left: 16px;
  border-radius: 4px;
  font-family: "GoogleSans";
  color: #bbb;
  size: 11px;
}

.label {
  font-family: "GoogleSans-Medium";
  size:13px;
  padding-bottom: 4px;
}

.text-box:focus{
  outline: none;
  border: 1px solid #019160;
  font-family: "GoogleSans";
  color: #000;
  size: 13px;
}