div.item .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #f65454;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 70%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 13px;
  min-height: 10px;
}

div.item .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #f65454 transparent transparent transparent;
}

div.item .tooltiptext-active {
  visibility: visible;
  opacity: 1;
}
