@import url("../css/common/Text.css");
@import url("../css/common/Icon.css");
@import url("../css/common/Button.css");
@import url("../css/common/Field-Input.css");
@import url("../css/common/Pagination.css");
@import url("../css/common/Modal.css");
@import url("../css/common/Dropdown.css");
@import url("../css/common/Combo-Box.css");
@import url("../css/common/Tooltip.css");
@import url("../css/common/Pop-Up.css");

body {
  font-family: "GoogleSans";
  font-size: 13;
  color: #454545;
  margin: 0px;
}

@font-face {
  font-family: "GoogleSans";
  src: url("../assets/font/GoogleSans-Regular.otf");
}

@font-face {
  font-family: "GoogleSans-Italic";
  src: url("../assets/font/GoogleSans-Italic.otf");
}

@font-face {
  font-family: "GoogleSans-Bold";
  src: url("../assets/font/GoogleSans-Bold.otf");
}

@font-face {
  font-family: "GoogleSans-Medium";
  src: url("../assets/font/GoogleSans-Medium.otf");
}
