@import url("../css/common/icon.css");
@import url("../css/common/button.css");
@import url("../css/common/field-input.css");
@import url("../css/common/pagination.css");
@import url("../css/common/modal.css");
@import url("../css/common/dropdown.css");
@import url("../css/common/combo-box.css");

body {
  font-family: "GoogleSans";
  font-size: 13;
  color: #454545;
  margin: 0px;
  z-index: 2;
}

@font-face {
  font-family: "GoogleSans";
  src: url("../assets/font/GoogleSans-Regular.otf");
}

@font-face {
  font-family: "GoogleSans-Italic";
  src: url("../assets/font/GoogleSans-Italic.otf");
}

@font-face {
  font-family: "GoogleSans-Bold";
  src: url("../assets/font/GoogleSans-Bold.otf");
}

@font-face {
  font-family: "GoogleSans-Medium";
  src: url("../assets/font/GoogleSans-Medium.otf");
}
